.float {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 40px;
    right: 40px;
    background-color: #747aed;

    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
  }
  
  .my-float {
    margin-top: 22px;
  }
    .floater a{
    background-color: white;
}