@media only screen and (max-width: 600px) {
    body{
        height: 100vh;
    }
    .content{
        margin-top: 5vh;


 
    }
    h1{
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        

    }


    .btn-outline-dark{
        margin-top: 3vh;
    }

    .btn-group{
        display: flex;
   
        justify-content: center;
        align-items: center;
        width: 10%;

    }

    label{
        margin-top: 1vh;
        
    }

    .commands{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about{

        text-align: center;
        margin-bottom: 5vh;
    }

    .btn-dark{
        margin-top: 3%;
    }
  }












p{
    color: floralwhite;
}

.content{

    margin-left: 5vh;
    margin-right: 10vh;
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    margin-bottom: 3vh;
    width: 80%;
}
input:focus{
    border: 3px solid red;
}

h1{
    color:white;
}
.btn-group{
    margin-left: 30%;

}
.btn-primary, .btn-secondary{
   width: fit-content;
}
label{
    margin-top: 1vh;
}

.glassDisplay{
    background: linear-gradient(to top right, rgba(255,255,255,0.8), rgba(255,255,255,0.4));
    border-radius: 50px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}
