@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "Vidaloka";
}


.title{
    float: left;
    color: black;

}
h2{
    color: black;
    margin: 5%;
}

body{
    overflow: hidden;
}