.changingText {
    top: 50%;
    margin-top: -30px;
      position: absolute;
      width: 50%;
    height: 150px;
    font-size: 50px;
    overflow: hidden;
      text-align: center;
  }
  
  .changingText div, .changingText div p {
    margin: 0;
    padding: 0;
  }
  
  .changingText p {
      font-family: 'work Sans',sans-serif;
      font-weight: 100;
      color: black;
      letter-spacing: 2px;
  }
  
  .changingText div {
    animation: slide 30s 5s infinite;
  }
  
  @keyframes slide {
    0% { margin-top: 0; }
    20% { margin-top: 0; }
    40% { margin-top: -120px; }
    60% { margin-top: -240px; }
    80% { margin-top: -360px; }
    100% { margin-top: 0; }
  }