/* This will apply to all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: grey;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.75;
}
h2,p{
    color: rgb(59, 59, 59);
    font-weight: 500;
    opacity: 0.75;
}
h3{
    color: grey;
    font-weight: 600; 
    opacity: 0.75;

}

/* this is the entire background of the page */
main{
     /* meaning this will take the entire view width */
    min-height: 100vh;

    /* this will make our page go from black at the bottom to white at the top and there are other linear gradients we can do, almost any direction */
    background: linear-gradient(to top,#000,#fff);

    /* to center all items inside of our main body, we use flex display; to allow align items and justify content center to work. Which explains why everytime I would try centering the stuff on my page, it never worked, or looked right. And its because we neeed display: flex */
   display: flex;
   align-items: center;
   justify-content: center;

   font-family: "Share Tech Mono";

}

.background{
    background: white;
    min-height: 80vh;
    width: 80%;
    display: flex;
    /* because we want our user interface to be transparent almost, for the background's background we can use RGBA instead of rgb */
    background: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.3));
    /* we use border-radius to round */
    border-radius: 2rem;
    
}



/* the following is the CSS to get the links and stuff on one side, along with the search bar and content on the other side */

.dashboard{
    /* this will push both of our divs in the dash board and move them to opposite sides, since we display flexed them in the background css */
    flex: 1;
    /* because we need display flex to justify our items, that will move our links next to each other, we change that with flex-direction. Now we can align and justify center our content. */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* this is for the background gradient on the left side of the dashboard. To be more appealing we make this one more bold than the actual background gradient itself. Make them the same color just less transparent */
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.4));
    border-radius: 2rem;
}

.browseArea{
    flex:2;
}

.link{
    /* This is so out icon goes right next to our link title */
    display: flex;
    /* this is for the spacing inbetween each link */
    margin: 2rem 0rem;
    padding: 1rem 5rem;

    align-items: center;
}

.link h2{
    padding: 0rem 2rem;
}


/* this is for our pro link */

.proLink{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.3));
    border-radius: 2rem;
    color: black;
    padding: 1rem;
    display: flex;
    position: relative;
    margin: 0.5rem;
}

.proLink img{
   float: right;
    
}
.proLink h2
{
    width: 40%;
    color: white;
    font-weight: 600;
}


.browseArea{
    margin-bottom: 3rem;

}
/* This is for the search bar */
.browseArea input{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.4));
    border: none;
    width: 60%;
    padding: 0.6rem;
    border-radius: 2rem;
}

.browseArea{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box{
    display: flex;

    border-radius: 1rem;
    margin: 2rem 2rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px;
    min-height: 45vh;
   
}

